.carousel-img:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    
    display:inline-block;
    
    background: linear-gradient(to right, rgba(7, 7, 7) 0%,rgba(255, 252, 252,0) 100%); /* W3C */
    
  }
  .carousel-img img{
    display:block;
  }